# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/

# IDE files
.vscode/
.idea/

# Environment variables
.env

# Temporary files
*.temp
*.tmp
temp_stereo.wav
segment.wav

# Logs
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db