Flask==2.3.3
python-dotenv==1.0.0
requests==2.31.0
openai
sounddevice==0.4.6
soundfile==0.12.1
librosa
numpy
rich==13.6.0
click>=8.0.0
scipy>=1.10.0
torch
torchaudio
ffmpeg-python>=0.2.0
pyaudiowpatch>=0.2.12
pytest==7.4.3
flask-cors==4.0.0
typing_extensions
pytest-cov==4.1.0
flask-socketio==5.3.6
eventlet==0.33.3